.alert-box{
    width: 80%;
    background-color: #524616;
    padding:0.5rem  1.5rem;
}
.alert-heading{
    font-size: 1.2rem ;
    font-weight: bold;
    margin-bottom: 1rem;
    gap: 0.5rem;
}
.text-3{
    text-align: left;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}
.balance-text{
    align-items: center;
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
    text-align: left;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

/* mobile view */

.mob-alert-box{
    width: 100%;
    background-color: #524616;
    padding:0.2rem  0.7rem;
}
.mob-alert-heading{
    font-size: 0.8rem ;
    font-weight: bold;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
}
.mob-alert-heading img{
    width: 1.1rem;
}
.mob-text-3{
    text-align: left;
    font-size: 0.7rem;
    margin-bottom: 0.3rem;
}
.mob-balance-text{
    align-items: center;
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
    text-align: left;
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
}
